/* For testing only */
*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
  background-color: white;
  opacity: .7
}

.column {
  min-height: 100px;
}

/*/////////////////////          GENERAL          /////////////////////*/
body {
  margin: 0;
  background-color: lightblue;
}


/*/////////////////////          CONTENT          /////////////////////*/
.title {
  width: 95%;
  margin: 5% 2.5% 0 2.5%;
}

.gallery {
  width: 90%;
  margin: 0 5% 5% 5%;
  padding: 5% 5%;
  background-color: rgba(255, 255, 255, 0.4);
  content: "";
  display: table;
  clear: both;
}

.col-gal {
  margin: 5% 0;
}

/*/////////////////////          @MEDIA          /////////////////////*/

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape) {
/* Styles */
  body{
    background-color: blue;
  }
  .col-gal {
    float: left;
    width: 45%;
    margin: 2.5%;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (orientation : portrait) {
  body{
    background-color: red;
  }
  .col-gal {
    float: left;
    width: 45%;
    margin: 2.5%;
  }
}

/* Smartphones Large (landscape) */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape){
  body{
    background-color: yellow;
  }
  .col-gal {
    float: left;
    width: 30%;
    margin: 1.666%;
  }
}

/* Smartphones Large (portrait) */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait){
  body{
    background-color: orange;
  }
  .col-gal {
    float: left;
    width: 45%;
    margin: 2.5%;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  body{
    background-color: pink;
  }
  .col-gal {
    float: left;
    width: 30%;
    margin: 1.666%;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  body{
    background-color: purple;
  }
  .col-gal {
    float: left;
    width: 45%;
    margin: 2.5%;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  body{
    background-color: green;
  }
  .col-gal {
    float: left;
    width: 30%;
    margin: 1.666%;
  }

}
